{:source-paths
 ["src"]

 :dependencies
 [[binaryage/devtools "1.0.7"]
  [reagent "1.2.0"]]

 :builds
 {:main
  {:target :node-script
   :output-to "out/main.js"
   :main main/main}
  :renderer
  {:target :browser
   :modules {:renderer {:init-fn renderer/init}}}}}