# https://devenv.sh/integrations/github-actions/#complete-example
name: "Test"

on:
  pull_request:
  push:

jobs:
  tests:
    strategy:
      matrix:
        os: [macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v23
      - uses: cachix/cachix-action@v12
        with:
          name: devenv
      - name: Install devenv.sh
        run: nix profile install tarball+https://install.devenv.sh/latest

      - name: Build the devenv shell and run any pre-commit hooks
        run: devenv ci

      - name: Run a single command in the devenv shell
        run: devenv shell hello

      - name: Run a multi-line command in the devenv shell
        shell: devenv shell bash -e {0}
        run: |
          hello
